{% extends "base.html" %}

{% block title %}Income{% endblock %}

{% block content %}
<h1>Review Transactions</h1>
<form action="{{ url_for('save_transactions_route') }}" method="POST">
<table class="table table-bordered">
    <thead class="table-light">
        <tr>
            {% for key in transactions[0].keys() %}
                {% if key == "reimbursement_amount" %}
                    <th>Reimbursement Amount</th>
                {% elif key == "category_id" %}
                    <th>Category</th>
                {% elif key == "payment_method" %}
                    <th>Payment Method</th>
                {% else %}
                    <th>{{ key.capitalize() }}</th>
                {% endif %}
            {% endfor %}
            <th>Sinking Fund</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
        <tr class="{% if categories.get(transaction.get('category_id')).get('category_name') == 'Other' %}table-warning{% endif %}">
            {% set row_index = loop.index0 %}  {# Save row index for input names #}

            {% for key, value in transaction.items() %}
                <td style="margin: 0px;">
                    {% if key == "category_id" %}
                        <select name="category_id_{{ row_index }}" class="form-select">
                            {% for cat in categories.keys() %}
                                <option value="{{ cat }}" {% if cat == value %}selected{% endif %}>{{ categories.get(cat).get('category_name') }}</option>
                            {% endfor %}
                        </select>
                    {% elif key == "reimbursed" %}
                        <input type="checkbox" class="form-check reimbursed-checkbox" name="reimbursed_{{ row_index }}" value="1" data-row="{{ row_index }}">
                    {% elif key == "reimbursement_amount" %}
                        <input type="number" class="form-control reimbursement-amount" name="reimbursement_amount_{{ row_index }}" value="{{ value | money }}" step=".01" min="0.01" data-row="{{ row_index }}">
                    {% elif key == "amount" %}
                        {{ value | money }}
                    {% elif key == "date" %}
                        {{ value.strftime('%m/%d/%Y') }}
                    {% else %}
                        {{ value }}
                    {% endif %}
                </td>
            {% endfor %}
            <td>
                <select name="sinking_fund_{{ row_index }}" class="form-select">
                    <option value="" selected></option>
                    {% for fund_id in sinking_funds.keys() %}
                        <option value="{{ fund_id }}">{{ sinking_funds.get(fund_id).get('fund_name') }}</option>
                    {% endfor %}
                </select>
            </td>

        <!-- Hidden fields to retain full row -->
        <input type="hidden" name="date_{{ row_index }}" value="{{ transaction.date }}">
        <input type="hidden" name="description_{{ row_index }}" value="{{ transaction.description }}">
        <input type="hidden" class="amount" name="amount_{{ row_index }}" value="{{ transaction.amount }}" data-row="{{ row_index }}">
        <input type="hidden" name="payment_method_{{ row_index }}" value="{{ transaction.payment_method }}">
    </tr>
    {% endfor %}
</tbody>
</table>

<input type="hidden" name="total_rows" value="{{ transactions|length }}">
<button type="submit" class="btn btn-primary">Submit Changes</button>
<button type="button" class="btn btn-danger" id="cancel-button">Cancel</button>
</form>
<script src="{{ url_for('static', filename='scripts/review_transactions.js') }}"></script>
{% endblock %}

