{% extends "base.html" %}

{% block title %}Spending{% endblock %}

{% block content %}
<h1>Spending</h1>
<form method="GET" action="/spending" id="spending-form">
                <div class="d-flex align-items-end gap-3 mb-3">
                    <div>
                        <select class="form-select" name="month" id="month">
                            <option value="0" selected>Show All</option>
                            {% for num, name in months %}
                            <option value="{{ num }}" {% if num == selected_month %}selected{% endif %}>{{ name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div>
                        <select class="form-select" name="year" id="year">
                            {% for y in range(2025, current_year + 1) %}
                            <option value="{{ y }}" {% if y == selected_year %}selected{% endif %}>{{ y }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </form>
{% if transactions %}
    <div class="legend">
        {% for category in categories.keys() %}
            <div class="legend-item">
                <div class="legend-color {{ categories[category].css_class }}"></div>
                {{ categories[category].category_name }}
            </div>
        {% endfor %}
    </div>
    <table class="table table-bordered">
        <thead class="table-light">
            <tr>
                {% for key in transactions[0].keys() %}
                    {% if key == "net_amount" %}
                        <th>Amount Spent</th>
                    {% elif key == "category_id" %}
                        <th>Category Name</th>
                    {% elif key == "payment_method" %}
                        <th>Payment Method</th>
                    {% else %}
                    <th>{{ key.capitalize() }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr class="{{ categories.get(transaction.get('category_id')).get('css_class') }}">
                {% for key, value in transaction.items() %}
                    <td class="{{ categories.get(transaction.get('category_id')).get('css_class') }}" style="margin: 0px;">
                        {% if key == "amount" %}
                            {{ value | money }}
                        {% elif key == "net_amount" %}
                            {{ value | money }}
                        {% elif key == "date" %}
                            {{ value.strftime('%m/%d/%Y') }}
                        {% elif key == "category_id" %}
                            {{ categories.get(value).get('category_name') }}
                        {% else %}
                            {{ value }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
    </table>
{% else %}
<p>No transactions found</p>
{% endif %}
<script src="{{ url_for('static', filename='scripts/spending_script.js') }}"></script>
{% endblock %}