{% extends "base.html" %}

{% block title %}Spending{% endblock %}

{% block content %}
<h1>Spending</h1>
<div class="legend">
    {% for category in categories.keys() %}
        <div class="legend-item">
            <div class="legend-color {{ categories[category].css_class }}"></div>
            {{ category }}
        </div>
    {% endfor %}
</div>
<table class="table table-bordered">
    <thead class="table-light">
        <tr>
            {% for key in transactions[0].keys() %}
                {% if key == "net_amount" %}
                    <th>Amount Spent</th>
                {% else %}
                <th>{{ key.capitalize() }}</th>
                {% endif %}
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
        <tr class="{{ categories.get(transaction.category_name).get('css_class') }}">
            {% for key, value in transaction.items() %}
                <td class="{{ categories.get(transaction.category_name).get('css_class') }}" style="margin: 0px;">
                    {% if key == "amount" %}
                        {{ value | money }}
                    {% elif key == "net_amount" %}
                        {{ value | money }}
                    {% elif key == "date" %}
                        {{ value.strftime('%m/%d/%Y') }}
                    {% else %}
                        {{ value }}
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</tbody>
</table>
{% endblock %}